@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: Inter;
	src: url(/fonts/Inter/Inter.woff2) format('woff2');
}

@font-face {
	font-family: Inter;
	font-style: italic;
	src: url(/fonts/Inter/Inter-Italic.woff2) format('woff2');
}

@layer base {
	:root {
		font-size: 16px;
	}
	html {
		position: relative;
		height: 100dvh;
		width: 100dvw;
		overflow: hidden;
	}
	body {
		position: relative;
		height: 100dvh;
		width: 100dvw;
		overflow: hidden;
		background: #000;
		font-family: Inter, system-ui, --apple-system, sans-serif;
		font-size: 0.875rem;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}
}
